<div>
    <div class="item-view-header">
        <span box-breadcrumbs item="folder"></span>
        <span> >> </span>
        <span class="folder-view-header-numbers" ng-pluralize count="numFolders"
              when="{'0': '', 'one': '1 Folder, ', 'other': '{} Folders, '}"></span>
        <span class="folder-view-header-numbers" ng-pluralize count="numFiles"
              when="{'0': 'No Files', 'one': '1 File', 'other': '{} Files'}"></span>
    </div>
    <div class="item-view-body">
        <div class="folder-view-item-wrapper" ng-repeat="item in items">
            <div box-item item="item" thumbnail-size="thumbnailSize"></div>
        </div>
    </div>
    <div class="item-view-footer">
    </div>
</div>